body{
background-color:#011051;
margin:0;
padding:8px;
}
IMG{
max-width:100%;
height:auto;
}
main{
max-width:800px;
margin:0 auto;
padding:20px;
}
@media(max-width:600px){
main{
padding:10px;
}
}
section{
margin-bottom:15px;
padding:12px;
border-radius:10px;
box-shadow:8px 8px 4px rgba(0,0,0,0.2);
}
h1{
color:white;
text-align:center;
margin:0;
letter-spacing:0;
font-weight:700;
}
h2{
font-size:28px;
text-align:center;
color:#acc906;
}
p{
line-height:2;
color:white;
text-align:center;
}
.red{
color:red;
}
.a{
display:block;
text-align:center;
}
.a:hover{
color:red;
}
.a:active{
transform:translateY(2px);
}
.title-area{
text-align:center;
}
.title h1{
margin:0;
}
title-area audio{
width:180px;
margin-top:m10px;
}















